# C K&R style
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Attach   # K&R braces style
AllowShortFunctionsOnASingleLine: false
PointerAlignment: Left

